<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BASE</title>
  <script src="./正则表达式.js"></script>
  <script src="./flat.js"></script>
  <script src="./array-set.js"></script>
  <script src="./Map.js"></script>
  <script src="./__proto__.prototype.js"></script>
</head>
<body>
  <div class="query">querySelector</div>
  <script>
    let el = document.querySelector('.query')
    el.style.width = '200px'
    el.style.height = '100px'
    el.style.background = 'red'
    console.log(el, 122)

    
  </script>
</body>
</html>
<style>
  body {
    background: #f5f6f5;
  }
</style>